/* use box shadow properly and set ui lil bit better */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;

}

body{
    background: #0f0c29; 
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
}

.header{
    width: 100%;
    background: rgba(39,39,39,0.1);
    backdrop-filter: blur(60px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
    padding: 10px 30px;
    margin: auto;
    text-align: center;
}
.header>h3{
    background-image: url(Unknown.jpeg); 
    background-repeat: none; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    font-size: 40px; 
    text-align: center; 
    font-weight: bold; 
    text-transform: uppercase; 
    font-family: 'Steelfish Rg', 'helvetica neue',
                    helvetica, arial, sans-serif; 
    font-weight: 800; 
    -webkit-font-smoothing: antialiased; 
}
.container{
    background: rgba(202, 186, 186, 0.1);
    backdrop-filter: blur(100px);
    box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.3);
    object-fit: contain;
    max-width: 70%;
}
#Update{
    display: none;
}

.container1{
    overflow-x: scroll;
}

td{
    overflow-x: scroll;
}